<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<style>
    *{margin:0 auto; padding:0; text-align: center;}
    p{font-family: "Roboto Light"; color: dodgerblue; font-size:50px;font-weight: bold;margin-top: 100px;margin-bottom: 50px;}
    a{margin-right: 10px;}
    img{width:170px;height:40px;}
</style>
<body>
  <p>Login</p>
  <a href="/oauth2/authorization/google"><img src="/btn_google.png"></a>
  <a href="/oauth2/authorization/naver"><img src="/btn_naver.png"></a>
  <a href="/oauth2/authorization/kakao"><img src="/btn_kakao.png"></a>
</body>
</html>